img {
    width: 500px;
    height: 400px;
}

html {
    background-image: url("../img/metallica-bg.webp");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #c2bdbd;
    position: relative;
    margin: 50px 50px;
    max-width: 1100px;
    padding: 20px 50px;
}

.header {
    text-align: center;
}

.main-title {
    border-bottom: 1px solid black;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    color: #000000;
    font-size: 40px;
}

.main-paragraph {
    font-style: italic;
    margin: 0px 350px 20px 350px;
}

.featured-image {
    text-align: center;
    margin-top: 30px;
    font-style: italic;
}

.bold {
    font-style: italic;
    font-weight: bold;
}

.biography-container {
    margin: 25px 0;
    padding: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.quotes-container {
    background-color: #ddd;
    padding: 30px;
}

.quotes-container blockquote {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.quotes-container p {
    font-style: italic;
    text-align: center;
}


.curiosities-container {
    border-bottom: 1px dashed #ddd;
    border-top: 1px dashed #ddd;
    padding: 25px 0px;
    margin: 25px 0;
}

.curiosities-container li {
    height: 50px;
}

.video {
    border-bottom: 1px dashed #ddd;
    text-align: center;
    padding: 25px 0;
    margin: 25px 0;
}

.img-2 {
    text-align: center;
    padding: 25px 0;
    margin: 25px 0;
    font-style: italic;
}

.footer{
    color: #fff;
    text-align: center;
    font-weight: 900px;
    padding: 5px;
    border-top: solid 1px #ddd;
    font-family:'Times New Roman', Times, serif
}


